.navbar {
    background-color: rgb(108, 50, 137);
    position: relative;
    z-index: 10;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: rgb(108, 50, 137);
  }
  
  .navbar li {
    display: inline-block;
    padding-right: 20px;
  }
  
  .navbar li a {
    color: white;
    display: block;
    padding: 9px;
    text-decoration: none;
    font-size: large;
  }

  
.navbar ul li a {
 
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
  padding: height="20%"; 
}

/* Apply hover effect */
.navbar ul li a:hover {
  background-color: rgb(160, 42, 220); /* Change the background color on hover */
  color: #d4ff14; /* Change the text color on hover */
}

  
  
  
  /* Change the background color of dropdown links on hover */
  .navbar ul ul li a:hover {
    background-color: #590909;
  }
  
  
  
  
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
      width: 100%;
      height: 100vh;
      background-image: url("Invited!\ \(4\).gif");
      
      background-attachment: scroll;
      background-size: cover;
      
    }
    
    #hero:before {
      content: "";
     
      position: absolute;
      bottom: 0;
      /* padding-top: 20px; */
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }
    
    #hero .hero-container {
      margin-left: auto;
      margin-right: auto;
      padding-top: 10rem;
      padding-bottom: 5rem;
      position: relative;
      z-index: 2;
      min-width: 250px;
      
    }
    
    #hero h1 {
      margin-left: auto;
      margin-right: auto;
     
      font-size: 70px;
      font-weight: 700;
      line-height: 65px;
      color: #ffff;
      margin-top: 100px;
      font-family: 'Kalam', cursive;
      
      
    }
    
    #hero p {
      color: #fff;    
      font-size: 26px;
      font-family: "Poppins", sans-serif;
     text-align: center;
     margin:  100px 120px ;
    }
    
    
    @media (min-width: 1024px) {
      #hero {
        background-attachment: scroll;
      }
    }
    
  
  /*--------------------------------------------------------------
  # About
  --------------------------------------------------------------*/
    .about {
      padding-top: 70px;
      /* margin-top: 70px; */
      margin-bottom: 90px;
    }
  
    .about .content h2 {
      font-weight: 700;
      font-size: 35px;
      color: #173b6c;
      margin-bottom: 30px;
    }
    
     
    #about .social-links a {
      font-size: 30px;
      display: inline-block;
      background: #212431;
      color: #fff;
      line-height: 1;
      padding: 8px 8px;
      margin-right: 4px;
      border-radius: 60%;
      text-align: center;
      
      width: 46px;
      height: 46px;
      transition: 0.3s;
      
    }
    
    #about .social-links a:hover {
      background: #173b6c;
      color: #f4f6fd;
      text-decoration: none;
    } 
    
  .about img{
      height: 380px;
    
  }
  
  /*--------------------------------------------------------------
  # Education
  --------------------------------------------------------------*/
  
  .text-center {
    text-align: center!important;
  }
  
  .education-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #1f5297;
    position: relative;
  }
  
   .education-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #050d18;
    margin-bottom: 10px;
  }
  
  .education-item h5 {
    font-size: 16px;
    background: #e4edf9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  
  
  /*--------------------------------------------------------------
  # Skills
  --------------------------------------------------------------*/
  .skills{
    padding-top: 40px;
    margin-bottom: 40px;
  }
  
  .skills h2 {
    font-weight: 700;
    font-size: 35px;
    color: #173b6c;
    margin-bottom: 30px;
  }
  
  .skills-tile {
    background-color: #e4edf9;
    padding: 10px 10px 5px;
    width: 100px;
    margin: 5px 0;
    border-radius: 8px;
  }
  
  
  /*--------------------------------------------------------------
  # Experience
  --------------------------------------------------------------*/
  
  .experience{
    background-color: #ffffff;
    background-image: url("./imz/4.jpg");}
  
   .experience .section-title h2{
    font-weight: 700;
    font-size: 35px;
    color: #173b6c;
    margin-bottom: 10px;
    margin-top: 40px;
    margin-bottom: 60px;
   }
  
  /*--------------------------------------------------------------
  # Projects
  --------------------------------------------------------------*/
  
  .projects .section-title h2 {
    font-weight: 700;
    font-size: 35px;
    color: #173b6c;
   
    margin-top: 30px;
    margin-bottom: 40px;
  }
  
  #projects{
    background-color: #ffffff;
    background-image: url("./imz/4.jpg");
    margin-top: 10px;
    
    padding-top: 2px;
    padding-bottom: 30px;
  }
  
  .cards{
    margin-left: 25px;
    margin-bottom: 20px;
    display: flex;
    gap: 50px;
    align-content: center;
    flex-wrap: wrap;
  }
  
  .flip-card {
    background-color: transparent;
    width: 380px;
    height: 250px;
    perspective: 1000px;
    font-family: sans-serif;
  }
  
  .title {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    margin: 0;
    color: #fff;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(43, 127, 170, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid #2c3e50;
    border-radius: 1rem;
  }
  
  .flip-card-front {
    background: #D8BFD8; /* Light Purple color - fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D8BFD8, rgb(160, 42, 220)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #c43fc4, rgb(160, 42, 220)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.flip-card-back {
    background: #D8BFD8; /* Light Purple color - fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D8BFD8, rgb(160, 42, 220)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e057e0, rgb(160, 42, 220)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transform: rotateY(180deg);
}

  
  .btn {
    margin-top: 20px;
    position: relative;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 1.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 700;
    color: black;
    background-color: white;
   }
   
   .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   }
   
   .btn::after {
    background-color: #fff;
   }
   
   .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }
  
  
   .contact .section-title h2 {
    font-weight: 700;
    font-size: 35px;
    color: #173b6c;
   
    margin-top: 30px;
    margin-bottom: 40px;
  }
  
  .contact {
    padding-bottom: 80px;
  }
  
  .contact .info {
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  }
  
  .contact .info i {
    font-size: 20px;
    color: #149ddd;
    float: left;
    width: 44px;
    height: 44px;
    background: #dff3fc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #050d18;
  }
  
  .contact .info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #173b6c;
  }
  
  .contact .info .email p {
    padding-top: 5px;
  }
  
  .contact .info  {
    padding-left: 60px;
  }
  
  .contact .info .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    margin-right: 10px;
  }
  
  .contact .info a:hover {
    background: #149ddd;
    color: #fff;
  }
  
  .contact .info .email:hover i,
  .contact .info .address:hover i
   {
    background: #149ddd;
    color: #fff;
  }
  
  